@tailwind base;
@tailwind components;
@tailwind utilities;

.main-section {
    display: flex;
    flex-direction: row;
    /* align-items: start;
    justify-content: start; */
    min-height: 610px;
    padding: 0px;
    /* width: 1/2; */
}

.main-section1 {
    display: flex;
    flex-direction: row;
    /* align-items: start;
    justify-content: start; */
    /* min-height: 610px; */
    padding: 0px;
    /* width: 1/2; */
}

.main-section-scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* min-height: 105vh; */
    padding: 0px;
}

/* .main-section-image{
    display: flex;
    align-items: end;
    justify-content: end;
} */

::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(73, 73, 73); /* Slightly transparent */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-track {
    /* background: rgb(72, 97, 81); */
    background: grey;
  }

  /* .projects-page ::-webkit-scrollbar-thumb {
    background: #50040f; 
  } */
  
  /* Contact Page Scrollbar */
  /* .contact-page ::-webkit-scrollbar-thumb {
    background: #3357ff; Blue
  } */
  
  .total-bg{
    background-color: #00261c;
  }


.btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #1d25b9;
    color: #000000;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0f6f56;
}

.btn-primary {
    background-color: white;
    color: #000000;
    margin-right: 7px;
}

.btn-primary:hover {
    background-color: #0f6f56;
    color: white;
}

.btn-secondary {
    background-color: #6c757d;
    color: #ffffff;
    margin-left: 7px;
}

.btn-secondary-contact {
    background-color: #6c757d;
    color: #ffffff;
}

.btn-secondary:hover {
    background-color: #37393b;
    
}

.padding-bottom-background{
    padding-bottom: 6px;
}

.padding-top-portfolio-project{
    padding-top: 20px;
}

.padding-top-portfolio-button{
    padding-bottom  : 50px;
}

.grey{
    color: #a1a1aa;
}

.displayblock{
    display: block;
    margin: auto;
}

.pointer {
    cursor: pointer;
}

.color-test{
    color: white;
}

.red-footer{
    background-color: #410511;
}

.purple-footer{
    background-color: #601a69;
}

.black-footer{
    background-color: #000000;
}

.padding-top-aboutme{
    padding-top: 110px;
}

.padding-top-featuredproj{
    padding-top: 110px;
}

.padding-top-contact{
    padding-top: 7rem;
    padding-bottom: 25px;
    padding-left: 10rem;
}

.padding-left-contact{
    padding-left: 10.5rem;
    margin-right: 30rem;
}

.padding-top-project{
    padding-top: 7rem;
}

@keyframes animate {
    0% {
        stroke-dashoffset: 0
    }

    to {
        stroke-dashoffset: 12433.8193359375
    }
}

@keyframes pulse {
    50% {
        opacity: .5
    }
}

.path {
    stroke-dasharray: 500px 100px;
    animation: animate 100s linear infinite alternate-reverse
}