@tailwind base;
@tailwind components;
@tailwind utilities;

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 105vh;
    padding: 0px;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(6 78 59); /* Slightly transparent */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .total-bg{
    background-color: #0f6f56;
  }


.btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #1d25b9;
    color: #000000;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #1ea9d7;
}

.btn-primary {
    background-color: white;
    color: #000000;
    margin-right: 7px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d;
    color: #ffffff;
    margin-left: 7px;
}

.btn-secondary-contact {
    background-color: #6c757d;
    color: #ffffff;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

.padding-bottom-background{
    padding-bottom: 6px;
}

.padding-top-portfolio-project{
    padding-top: 20px;
}

.padding-top-portfolio-button{
    padding-bottom  : 50px;
}

.grey{
    color: #a1a1aa;
}

.displayblock{
    display: block;
    margin: auto;
}

.pointer {
    cursor: pointer;
}

.color-test{
    color: white;
}

.red-footer{
    background-color: #632733;
}

.padding-top-aboutme{
    padding-top: 110px;
}

.padding-top-featuredproj{
    padding-top: 110px;
}

.padding-top-contact{
    padding-top: 7rem;
    padding-bottom: 25px;
    padding-left: 10rem;
}

.padding-left-contact{
    padding-left: 10.5rem;
    margin-right: 30rem;
}

.padding-top-project{
    padding-top: 7rem;
}